@import 'tailwindcss';
@import './__generated__/color.gen.css';
@import './typography.css';
@import './transition.css';
@import './keyframe.css';

* {
  box-sizing: border-box;
  word-break: keep-all;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::selection {
  background-color: var(--color-yellow300);
  color: var(--color-neutral);
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-neutral);
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-section],
[data-scroll-section-inview] {
  will-change: transform;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}
